body {
background-color:#7f870b;
background-image:url(layout/site/green-theme/login_body_top.gif);
color: #666;
}
#wrapper {
background-image:url(layout/site/green-theme/login_body_bottom.gif);

}

h1 {
	color: #d9e3bb;
}

.send_form_btn {
	background-color:#4c4c4c;
	background-image:url(layout/site/green-theme/forms/send_form_middle.gif);
}

.send_form_btn span {
	background-image:url(layout/site/green-theme/forms/send_form_left.gif);
}

.send_form_btn span span {
	background-image:url(layout/site/green-theme/forms/send_form_right.gif);
}

a:link, a:visited, a:hover, a:active {
	color:#788300;
}

#login_wrapper form, .error {
	border-color: #ccc;
}


